@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

:root {
  --font-display: "Poppins", sans-serif;
}

@layer base {
  html {
    font-family: var(--font-display);
  }

  body {
    overflow: hidden;
    background: #fff;
  }
}
